*{
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: Poppins, sans-serif;

}

.header{
    /* background-color: #27374D; */
    background-image: linear-gradient(#2e4063 ,#415A77);

    display: flex;
    width: 100%;
}

.logo{
    height: 50px;
    width: 120px;
    padding: 10px 27px;
}

.navigation{
    text-align: center;
    margin-top: 23px;
    margin-left: 8px;
}

a{
    text-decoration: none;
    color: rgb(207, 225, 235);
    font-weight: bold;
    margin-right: 14.6%;
    font-size: 19px;
    font-family: Poppins, sans-serif;
}

.navigation a:hover{
    color: #0d1525;
}

hr{
    width: 99.7%;
    border: 2px solid;
}

.body{
    display: flex;
    background-image: linear-gradient(to right,  #9ab5c4 , #557186);

}

.box1{
    width: 28%;
    background-color: #2e4063;
    margin: 5% 10%;
    box-shadow: 10px 5px 30px 2px rgb(46, 44, 44);
    background-image: linear-gradient(to right,  #3A6D8C , #6A9AB0);
}

.heading{
    text-align: center;
    padding-top: 40px;
    color: #27374D;
    text-shadow: 2px 1px 2px rgb(0, 0, 0);
    font-size: 40px;
    padding-bottom: 5%;
}

i{
    font-size: 30px;
    padding-top: 8%;
    padding-left: 7%;
    color: #0d1525;

}

.ic{
    font-size: 17px;
    font-weight: bold;
}

.icon2 i{
    font-size: 38px;
    color: #0d1525;
}

.icon2{
    display: flex;
    padding-top: 14%;
    padding-bottom: 13%;
    margin-left: 19%;
    width: 70%;
}

.box2{
    width: 40%;
    background-color: #557186;
    margin-top: 2%;
    height:100%;
    box-shadow: 10px 5px 30px 2px rgb(46, 44, 44);
    background-image: linear-gradient(to left,  #3A6D8C , #6A9AB0);
    margin-bottom: 2.3%;
}

.heading2{
    text-align: center;
    padding-top: 40px;
    color: #27374D;
    text-shadow: 2px 1px 2px rgb(0, 0, 0);
    font-size: 30px;
    padding-bottom: 3%;
}

.name{
    width: 38%;
    height: 35px;
    border-radius: 20px;
    border: 1px solid;
    margin-top: 5px;
    margin-left: 5%;
    padding-left: 2%;
    font-size: 14px;
}

.email{
    width: 70%;
    height: 35px;
    border-radius: 20px;
    border: 1px solid;
    margin-top: 5px;
    margin-left: 5%;
    padding-left: 2%;
    font-size: 14px;
}

.message{
    width: 87%;
    height: 122px;
    border-radius: 20px;
    border: 1px solid;
    margin-top: 5px;
    margin-left: 5%;
    padding-left: 3%;
    font-size: 14px;
    padding-top: 2%;
}

.label{
    font-weight: bold;
    font-size: 18px;
    margin-left: 8%;
    margin-top: 3%;
}

button{
    width: 50%;
    padding: 7px;
    font-weight: bold;
    font-size: 17px;
    border: 1px solid;
    border-radius: 20px;
    margin-top: 4%;
    margin-left: 23%;
    margin-bottom: 6%;
    background-image: linear-gradient(to right,  #3A6D8C , #537f94);

}

button:hover{
    background-image: linear-gradient(to left,  #315c77 , #416474);
    border: 2px solid;
    color: #c5d8e0;
}

input:hover{
    border: 2px solid;
    background-color: #c5d8e0;
}

textarea:hover{
    border: 2px solid;
    background-color: #c5d8e0;
}